
.button img {
  margin: 0 0.5rem;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #131427;
}


.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}


.button--whole {
  width:100%;
  margin: 0;
}

@media (max-width:768px) {
  .button {
    font-weight: bold;
  }

  .button--big {
    font-size: 0.8rem;
    width:90%;
  }
}